* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  // @include respond(md-lg) {
  //   font-size: 56.25%; // 1rem = 9px, 9/16 = 56,25%
  // }

  // @include respond(sm) {
  //   font-size: 50%; // 1rem = 8px, 8/16 = 50%
  // }
}

body {
  background-color: $color-white;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.4rem;
}
