@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-heading: 'Archivo', sans-serif;
$font-primary: 'Roboto', sans-serif;

$color-green: #9fc93e;
$color-green-dark: #193924;
$color-white: #fafafa;
$color-black: #272424;
$color-grey: #5b5b5b;
$color-grey-light: #f9f9f9;
