@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-heading: 'Archivo', sans-serif;
$font-primary: 'Roboto', sans-serif;
$font-tertiary: 'Rokkitt', serif;

$color-green: #9fc93e;
$color-green-dark: #193924;
$color-white: #fafafa;
$color-black: #272424;
$color-grey: #5b5b5b;
$color-grey-light: #f9f9f9;
