.contact {
  &__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    gap: 10rem;

    @include respond(md-lg) {
      gap: 6rem;
    }

    @include respond(sm-md) {
      flex-direction: column;
    }

    @include respond(sm) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: $color-black;
    font-weight: 300;

    @include respond(lg) {
      font-size: 3.2rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }

    @include respond(xs) {
      font-size: 2.4rem;
    }
  }

  &__intro-text {
    color: $color-grey;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.8rem;

    @include respond(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__input-group {
    margin: 1.5rem 0;
    width: 100%;
    position: relative;
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    border: 2px solid $color-grey;
    border-radius: 3px;
    transition: border 0.25s ease-in-out;
    font-family: $font-primary;
    background-color: $color-white;
    color: $color-black;
    font-size: 1.6rem;

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-black;
    }

    &::placeholder {
      font-family: $font-primary;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
    font-size: 1.6rem;
    font-family: $font-primary;
    color: $color-black;

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
    }

    &-not-empty {
      top: 0;
      background-color: $color-white;
      font-size: 1.4rem;
      padding: 0 1rem;
    }
  }

  &__input:focus ~ &__label {
    top: 0;
    background-color: $color-white;
    font-size: 1.4rem;
    padding: 0 1rem;
  }

  &__textarea {
    width: 100%;
    margin-top: 1.5rem;
    border: 2px solid $color-grey;
    border-radius: 3px;
    padding: 1rem;
    font-family: $font-primary;
    font-size: 1.6rem;
    color: $color-black;

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-black;
    }
  }

  &__submit {
    align-self: flex-start;
    margin-top: 3rem;
    border: none;
    outline: none;
    background-color: $color-green;
    color: $color-white;
    padding: 1.4rem 2.4rem;
    border-radius: 3px;
    font-family: $font-primary;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
      background-color: $color-green-dark;
    }
  }

  &__details {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    li {
      color: $color-grey;
      display: flex;
      gap: 2.8rem;
      align-items: center;
      font-size: 1.8rem;
      line-height: 2.8rem;

      @include respond(lg) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      @include respond(md) {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }

      @include respond(sm) {
        gap: 1.2rem;
      }

      @include respond(xs) {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      svg {
        @include respond(sm) {
          width: 2.4rem;
          height: 2.4rem;
        }

        @include respond(xs) {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      a {
        color: $color-grey;
        text-decoration: none;
      }

      p {
        color: $color-grey;
      }
    }
  }
}
