.home {
  width: 100%;

  &__intro {
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include respond(sm) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &__title {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    color: $color-black;

    @include respond(lg) {
      font-size: 3.2rem;
    }

    @include respond(md) {
      font-size: 2.8rem;
    }

    @include respond(xs) {
      font-size: 2.4rem;
    }
  }

  &__intro-text {
    color: $color-grey;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.8rem;

    @include respond(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__container {
    display: flex;
    gap: 10rem;

    @include respond(md-lg) {
      gap: 6rem;
    }

    @include respond(md) {
      flex-direction: column;
    }
  }

  &__about {
    background-color: $color-grey-light;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include respond(sm) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &__about-content {
    flex: 1;
    color: $color-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__about-title {
    font-size: 4rem;
    font-weight: 300;
    color: $color-black;
    margin-bottom: 4rem;

    @include respond(lg) {
      font-size: 3.2rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }

    @include respond(xs) {
      font-size: 2.4rem;
    }
  }

  &__about-text {
    margin-bottom: 2rem;
    line-height: 2.8rem;

    @include respond(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 40rem;
      // border-radius: 0px 300px 0px 300px;
      border-radius: 5px;

      @include respond(md-lg) {
        height: 30rem;
      }

      @include respond(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__services {
    min-height: 30rem;
    display: flex;
    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include respond(md-lg) {
      gap: 6rem;
    }

    @include respond(md) {
      flex-direction: column;
    }

    @include respond(sm) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &__services-content {
    flex: 60% 0 0;
  }

  &__services-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 4rem;

    @include respond(lg) {
      font-size: 3.2rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
      font-size: 2.8rem;
    }

    @include respond(xs) {
      font-size: 2.4rem;
    }
  }

  &__services-subtitle {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2rem;

    @include respond(lg) {
      font-size: 2rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__services-spacer {
    width: 100%;
    height: 2.4rem;

    @include respond(md) {
      height: 1.8rem;
    }

    @include respond(xs) {
      height: 1.2rem;
    }
  }

  &__services-text {
    margin-bottom: 2rem;
    color: $color-grey;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @include respond(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__services-image {
    flex: 1;
    border-radius: 5px;
    align-self: center;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
