.maintenance {
  &__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    gap: 10rem;

    @include respond(md-lg) {
      gap: 6rem;
    }

    @include respond(md) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(sm) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &__image {
    img {
      height: 40rem;
      border-radius: 0px 300px 0px 300px;

      @include respond(md-lg) {
        height: 30rem;
      }

      @include respond(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 300;
    font-style: italic;
    color: $color-black;
    margin-bottom: 4rem;
    line-height: 4.4rem;

    @include respond(lg) {
      font-size: 2.8rem;
      line-height: 3.2rem;
    }

    @include respond(md) {
      margin-bottom: 2rem;
      font-size: 2.4rem;
    }

    @include respond(xs) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__text {
    color: $color-grey;
    font-size: 1.8rem;
    line-height: 2.8rem;

    @include respond(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: $color-black;
    margin: 2rem 0 1rem 0;

    @include respond(xs) {
      font-size: 1.8rem;
    }
  }

  &__examples {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 2rem;
  }

  &__example {
    font-family: $font-primary;
    color: $color-grey;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.8rem;

    @include respond(lg) {
      font-size: 1.6rem;
    }

    @include respond(md) {
      font-size: 1.5rem;
    }

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }
}
