.button {
  padding: 1.4rem 2.4rem;
  background-color: $color-green;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: $font-primary;
  font-size: 1.6rem;
  cursor: pointer;
}
