.carousel__slides-container {
  overflow: hidden;
  position: relative;
}

.carousel__slides {
  display: flex;
  transition: transform 0.2s ease-out;
}

.carousel__slide {
  width: 100%;
}

.carousel__buttons {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__button {
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.2s;
}

.carousel__button:hover,
.carousel__button:active {
  background-color: white;
}

.carousel__button:first-child {
  margin-left: 1rem;
}

.carousel__button:last-child {
  margin-right: 1rem;
}

.carousel__indicator-container {
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.carousel__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.carousel__indicator {
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s;
}
